footer
  .container.text-center
    p.pull-left © 2016 MySecureBank. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/cakefuelled/mysecurebank-server') GitHub Project
      li
        | She++ London Hackathon
