extends layout

block content
  h1 MySecureBank
  p.lead Web application security training
  hr
  .row
    p Welcome - let's get started with some basic web application vulnerabilities
    .col-sm-6
      h2 NoSQL Injection
      p NoSQL injection allows a malicious attacker to read or modify sensitive data and database structure from an applications NoSQL database, leading to theft of sensitive company data, passwords or destruction of data.
      p
        a.btn.btn-default(href='https://zanon.io/posts/nosql-injection-in-mongodb', target='_blank', role='button') View details »
    .col-sm-6
      h2 Cross-site Scripting (XSS)
      p Cross-site scripting allows an attacker to inject malicious scripts into the sessions of other users on trusted websites. These attacks can steal a user's session token (cookie) or other sensitive company data.
      p
        a.btn.btn-default(href='https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)', target='_blank', role='button') View details »
    .col-sm-6
      h2 Cross-site Request Forgery (CSRF)
      p Cross-site Request Forgery allows an attacker to force a user into taking an action they didn't intend to. This can include transferring funds, or even creating new accounts to further exploit an application.
      p
        a.btn.btn-default(href='https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)', target='_blank', role='button') View details »
    .col-sm-6
      h2 Directory Traversal
      p Directory or Path Traversal attacks allow a user to access arbitrary files on the file system of the server. If the server is connected to network storage, an attacker can potentially download sensitive company documents.
      p
        a.btn.btn-default(href='https://www.owasp.org/index.php/Path_Traversal', target='_blank', role='button') View details »